<Tags>
	<Tag>
		<Name value="Home" url="http://www.flashxml.net" target="_blank"/>
	</Tag>
	<Tag>
		<Name value="About" url="http://www.flashxml.net" target="_blank"/>
	</Tag>
	<Tag>
		<Name value="Portfolio" url="http://www.flashxml.net" target="_blank"/>
	</Tag>
	<Tag>
		<Name value="Services" url="http://www.flashxml.net" target="_blank"/>
	</Tag>
	<Tag>
		<Name value="Contact" url="http://www.flashxml.net" target="_blank"/>
	</Tag>
</Tags>